body{
    margin: 50px;
}
h1{
    color: blue;
    text-shadow: 1px 1px 1px #000;
}
h2{
    color: brown;
    text-shadow: -1px 1px 1px #000;
}
i{
    color: chartreuse;
    text-shadow: 1px 1px 1px #000;
}